*{
    box-sizing: border-box;
    
} 
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 80px);
    grid-template-areas: 
    'head'
    'nav'
    'main'
    'main'
    'main'
    'main'
    'main'
    'main'
    'sec'
    'sec'
    'foot';
}

.header{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-area: head;
    grid-template-columns: 1.7fr 1fr;
    grid-template-areas: 
    "text logo";
    
}
.headerTitle{
    /* place-self: right; */
    font-size: 50px;
    grid-area: text;
    color: rgb(217, 193, 85);
    text-align: right;
    align-self: end;
}

.logo{
    grid-area: logo;
    /* text-align: left; */
    
}

.logoImg{
    height: 70px;
    width: 60px;
    align-items: left;
}


.nav{
    background-color: rgb(31, 31, 30);
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(4,15%);
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
}

.btn{
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
    color: rgb(61, 59, 59);
    text-align: center;
    background-color: rgb(217, 193, 85);
    /* color: rgb(217, 193, 85); */
    
}

.menu{
    width: 100%;
    place-self: center;
    box-shadow: 1px 1px rgb(34, 35, 33);
}

.section{
    background-color: black;
    display: grid;
    grid-area: sec;
    color: rgb(217, 193, 85);
}
.sectionTitle{
    font-size: 20px;
    place-self: center;
    width: 90%;
    text-align: justify;
}

.main{
    background-color: rgb(10, 10, 9);
    color: rgb(217, 193, 85);
    display: grid; 
    grid-area: main;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    'szov'
    'kep';
}


.mainTitle{
    grid-area: szov;
    font-size: 50px;
    place-self: center;
} 


.mainImgContainer{    
    background-color: black;
    display: grid;
    grid-area: kep;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
     
}
.mainImg{
    width: 300px;
    border: solid 4pt rgb(232, 235, 240);
}
.footer{
    background-color: rgb(31, 31, 30);
    color: rgb(217, 193, 85);
    display: grid;
    grid-area: foot;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.footerTitle {
    justify-self: start;
    align-self: center;
    font-size: 40px;
    margin-left: 5px;
}
.footerDate {
    justify-self: end;
    align-self: center;
    font-size: 40px;
    margin-right: 5px;
}

@media screen and (max-width: 1300px) {
    .container{

        grid-template-areas: 
        'head'
        'nav'
        'nav'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'sec'
        'sec'
        'sec'
        'sec'
        'foot';
    }

    .headerTitle{
        font-size: 40px;
    }

    .logoImg{
        height: 50px;
        width: 45px;
    }

    .mainTitle{
        font-size: 40px;
    }

    .mainImgContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    .nav{
        grid-template-columns: repeat(2, 1fr);
    }

    .menu{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50%;
    }

    .footerTitle{
        font-size: 30px;
    }
    .footerDate{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .container{

        grid-template-areas: 
        'head'
        'nav'
        'nav'
        'nav'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'main'
        'sec'
        'sec'
        'sec'
        'sec'
        'foot';
    }
    .headerTitle{
        font-size: 30px;

    }
    .logoImg{
        height: 50px;
        width: 45px;
    }
    .mainTitle{
        font-size: 35px;
    }
    .mainImg{
        height: 150px;
    }
    .nav{
        grid-template-columns: 1fr;
    }
    .menu{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50%;
    }
    .footerTitle{
        font-size: 25px;
    }
    .footerDate{
        font-size: 25px;
    }

}
